
<div class="container-fluid">

    <div class="col-md-12">
        <div id="contact" style="margin-top: 100px;">
            <address>
                <p style="font-size: 18px">
                    <b>
                        http://www.pointcollege.fi/
                        <br />
                        <br />
                        Opistokuja 1<br />

                        06100 Porvoo<br />
                        <br />
                        <abbr title="Phone">P:</abbr>
                        019 5299200
                    </b>
                </p>
            </address>
            <div class="col-md-12" style="position :relative">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7885.752435165236!2d25.6426211!3d60.3884415!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x883d7d007b4c894b!2sOy+Porvoo+International+College+Ab!5e0!3m2!1sen!2sfi!4v1529341619666" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>