@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="/Lasnaolotieto" class="btn btn-primary btn-lg">Läsnäolotiedot&raquo;</a></p>
    <p><a href="/Opettajat" class="btn btn-primary btn-lg">Opettaja&raquo;</a></p>
    <p><a href="/Opiskelijas" class="btn btn-primary btn-lg">Oppilas&raquo;</a></p>
    <p><a href="/Kurssit" class="btn btn-primary btn-lg">Kurssi&raquo;</a></p>
</div>

